@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

$titulo: 25px;
$nome: 20px;

@mixin nome{
    font-family: 'Lilita One', cursive;
    font-size: $nome;
    color: black;
    text-align: center;
} 

@mixin info {
    font-family: 'Lilita One', cursive;
    list-style: none;
    font-size: 16px;
}

